body {
    font-family: arial, verdana, sans-serif;
}

header, footer { text-align:center; width: 100%; }

header {
    height: 40px;
    font-size: 40px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

footer {
    margin-top: 20px;
}
#container {
    margin-left: auto;
    margin-right: auto;
    width: 728px;
}

#videoplayer {
    position: relative;
    background-color: #000;
    border-radius: 5px;
    border: 2px #ccc solid;
    width: 640px;
    height: 360px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#playpause {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 40px;
    border-radius: 100px;
    background-image: url(//b.c8.net.ua/b/img/vpaid/play.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px 40px;
    background-color: rgba(255,255,255, 0);
    color: rgba(255,255,255, 0);
    border: 1px transparent solid;
    cursor: pointer;
    line-height: 0;
}

#playpause:hover {
    border: 1px white solid;
    color: #f00;
}

#fullscreen {
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 35px;
    width: 35px;
    background-image: url(//b.c8.net.ua/b/img/vpaid/expand.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 35px 35px;
    border-radius: 5px;
    cursor: pointer;
    line-height: 0;
}

#fullscreen:hover {
    border: 1px white solid;
    color: #f00;
}

#content, #adcontainer {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 640px;
    height: 360px;
}

#console {
    font-family: courier, monospace;
    font-size: 12px;
    margin-top: 20px;
    height: 200px;
    width: 630px;
    padding: 5px;
    border: 1px #ccc solid;
    overflow-y: scroll;
    margin-left: auto;
    margin-right: auto;
}

#companionDiv {
    width: 728px;
    height: 90px;
    margin-top: 20px;
}

.fakeLink {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
:-webkit-full-screen #container {
    width: 100%;
    height: 100%;
}